root = true

[*]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf
charset = utf-8

[*.nix]
tab_width = 2

[*.lua]
tab_width = 4

[*.md]
indent_style = space
